
        html {
            background-color: #79dad5;
        }
    
        
        h1 {
            font-family: 'Lobster Two', cursive
        }
        
            
        

        
    
        #subjectintro {
            color: rgb(20, 60, 170);
            font-size: 30px;
        }